<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MadonnaChecker.Properties.Settings.musicConnectionString"
            connectionString="server=localhost;user id=dave;password=dave_test;persistsecurityinfo=True;database=music"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>